/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #d9e4dd;
	background-color: #555555;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
  margin: 0 auto;
	margin-top: 60px;
  max-width: 80%;
}

h3 {
  margin-top: 30px;
}

.footer {
	margin-top: 40px;
}


code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #cdc9c3;
}

a {
	color: #03c4a1;
}